.about {
    display: flex;
    padding: 60px 0;

    p {
        font-size: 18px;
        margin-right: 35px;

        &:last-child {
            margin-right: 0;
            margin-left: 35px;
        }
    }

    &__item {
        display: flex;
        margin-top: 40px;
    }

    &__description {
        font-family: 'Montserrat', sans-serif;
    }

}