.btn {
    width: 230px;
    height: 50px;
    margin-top: 93px;
    border-radius: 30px;
    background-color: $main-color;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        box-shadow: 3px 3px 20px $main-color;
        border: none;
        transition: 0.4s all;
    }



    &-mini {
        width: 200px;
        margin-top: 60px;
    }

    &-submit {
        width: 300px;
        margin-top: 15px;
    }
}