.footer {
    padding: 30px 0;
    background: #121212;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            width: 150px;
        }
    }

    &__links {
        display: flex;

        a {
            color: #93784c;
            font-size: 30px;
            padding: 0 30px;
        }
    }

    &__call {
        display: flex;
        flex-direction: column;
        color: #93784c;

        a {
            color: #fff;
            font-size: 25px;
        }
    }

    a:hover {
        text-decoration: none;
    }
}

.xs-visible {
    display: none;
}