.services {
    background-color: #f8f8f8;
    padding: 60px 0;

    &__item {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #ffffff;
        margin-top: 65px;
        font-size: 22px;

        &:last-child {
            flex-direction: row-reverse;
            padding-right: 15px;
        }

        img {
            padding: 15px 0 15px 15px;
        }

        span {
            font-size: 18px;
            text-align: center;
            margin-top: 25px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 60px auto;
    }
}