.title {
    position: relative;
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.label {
    position: relative;
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    &_min {
        width: 76px;
    }
}