@media (max-width: 1200px) {
    .about {
        display: flex;
        padding-bottom: 90px;

        p {
            font-size: 18px;
            margin-right: 0px;

            &:last-child {
                margin-left: 0px;
            }
        }

        &__item {
            img {
                display: none;
            }
        }

        br {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    .about {
        p {
            font-size: 16px;
        }
    }

    .title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .about {
        p {
            font-size: 14px;
            padding: 0 20px 0 20px;
        }
    }

    .title {
        font-size: 30px;
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 20px;
        padding-top: 30px;
    }

    .about {
        p {
            font-size: 12px;
        }
    }
}