@media (max-width: 1200px) {
    .advantages {
        &__block {
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }

        &__descr {
            width: 300px;
        }
    }
}

@media (max-width: 991px) {
    .advantages {
        &__block {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        &__round {
            margin-right: 0;
        }

        &__descr {
            width: 300px;
            margin-top: 20px;
        }

        &__subtitle {
            text-align: center;
        }

        &__text {
            margin-top: 10px;
            text-align: center;
        }
    }
}

@media (max-width: 767px) {
    .advantages {
        padding: 40px 0;

        &__descr {
            width: 350px;
        }
    }
}

@media (max-width: 575px) {
    .advantages {
        padding: 22px 0 36px 0;

        &__block {
            margin-top: 26px;
        }

        &__round {
            width: 100px;
            height: 100px;

            img {
                max-width: 60%;
            }
        }

        &__descr {
            width: 100%;
            margin-top: 27px;
        }

        &__subtitle {
            font-size: 16px;
        }

        &__text {
            margin-top: 0;
        }
    }
}