@media (max-width: 767px) {
    .btn {
        &-subheader {
            display: none;
        }

        &-promo {
            width: 270px;
        }
    }
}

@media (max-width: 375px) {
    .btn {
        &-submit {
            display: block;
            width: 270px;
        }
    }
}