@media (max-width: 575px) {
    .modal {
        left: 48%;
        width: 240px;
        padding: 20px 20px 0 20px;

        &__close {
            position: absolute;
            top: -40px;
            right: -20px;
        }

        &__subtitle {
            font-size: 13px;
        }

        &__descr {
            display: none;
        }

        .btn {
            width: 200px;
        }

        label.error {
            font-size: 10px;
            text-transform: none;
        }
    }
}

@media (max-width: 375px) {
    .modal {
        font-size: 12px;
        text-transform: uppercase;
        min-height: 355px;
        width: 280px;

        label.error {
            font-size: 10px;
            text-transform: none;
        }
    }
}